*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-color: #000000;
    background-size: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: white;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }

  img{
      margin: 20px;
  }

  section{
      margin: 20px;
  }
  
  button{
      margin: 20px;
      font-size: 1.2em;
      padding: 5px;
  }

  .form{
      font-size: 1.2em;
  }

  input{
      font-size: 18px;
      height: 20px;
  }

  #moedas{
    height: 20px;
  }

  .resultado{
      font-size: 2em;
  }